*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/logg.jpg);
    background-position: center;
    background-size: 100%
}
#form{
    background-color: #000;
    height:430px;
    width:800px;
    margin: auto;
    margin-top: 100px;
    opacity:0.7;
}
#first-group{
    border:none;
    width:400px;
    margin-top: 38px;
    position: absolute;
}
#content{
    border: 1px solid #fff;
    margin:10px;
    margin-left: 8px;
    padding:5px;
    display: flex;
}
#content .input-group{
    border:none;
    outline:none;
    background: transparent;
    margin-left:8px;
    width:300px;
    color:#fff;
}
::placeholder{
    color:#fff;
}
.fa{
    display:inline-block;
    color:red;
    border-right:1px solid #fff;
    padding:8px;
    margin-left: 8px;
}
#second-group{
    border:none;
    width:400px;
    margin-top: 55px;
    margin-left:400px;
}
#submit{
    margin-top: 30px;
    margin-left: 600px;
    background: transparent;
    color:#fff;
    width:150px;
    border:1px solid red;
    outline:none;
    padding:10px;
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    body{
        background-size: 900px;
        background-repeat: none;
        background-position: 30px;
        background-origin: initial;
background-position-x: center;
background-position-y: center;

    }  
    #form{
        margin-left: 30px;
        padding-top: 20px;
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
    }
    #second-group{
        margin-left: 0px;
        margin-top: 300px;
    }
    #submit-btn{
        margin-left: 10px;
    }
    #content{
        width: 330px;
        margin-left: 0px;
        padding-left: 0px;
    }
}